<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Viewer</title>
    <link rel="stylesheet" href="css/_b.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/_b.js"></script>
    <script src="js/app.js"></script>
</head>
<body data-ng-app="app">
<div class="container row-fluid" data-ng-controller="appCtrl as vm">
    <div class="left-panel">
        <div class="left-panel-header">
            <div class="pagination-container">
                <div class="pagination-counter">
                    <span>{{displayedEmails.length ? vm.pagination.currentPage * vm.pagination.pageSize + 1 : 0}}</span>
                    &ndash;
                    <span>{{vm.pagination.currentPage * vm.pagination.pageSize + displayedEmails.length}}</span>
                    of
                    <span>{{filteredEmails.length}}</span>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="vm.pagination.currentPage === 0"
                            ng-click="vm.pagination.currentPage=vm.pagination.currentPage-1">Newer</button>
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="vm.pagination.currentPage >= filteredEmails.length/vm.pagination.pageSize - 1"
                            ng-click="vm.pagination.currentPage=vm.pagination.currentPage+1">Older</button>
                </div>
            </div>
            <div class="sender-filter">
                <select class="custom" ng-model="vm.search.mail_address" ng-options="address.val as address.label for address in vm.addresses"></select>
            </div>

            <div class="date-filter">
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6' datapicker="vm.search.date.from">
                            <input type='text' placeholder="Since" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7' datapicker="vm.search.date.to">
                            <input type='text' placeholder="Before" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
        <div class="left-panel-body">
            <div class="email-item"
                ng-repeat="email in (displayedEmails = (filteredEmails = (vm.emails | customFilter:vm.search)| orderBy:'-date' | paginationFilter:vm.pagination))"
                ng-click="vm.cMail = email;"
                ng-class="{'selected-mail': email === vm.cMail}">
                <div class="email-item-info">
                    <div class="email-item-from" title="{{email.from}}">From: {{email.from}}</div>
                    <div class="email-item-date">{{email.date | date:'shortDate'}}</div>
                </div>
                <div class="email-item-subject" title="{{email.to.join(', ')}}">To: {{email.to.join(', ')}}</div>
                <div class="email-item-subject" title="{{email.subject}}">{{email.subject}}</div>
                <div class="email-item-message">{{email.body}}</div>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="right-panel-header">
            <input type="search"
                   class="form-control pull-right"
                   placeholder="Search..."
                   highlight=vm.search.text mail="vm.cMail">
        </div>
        <div class="right-panel-scroll">
            <div class="right-panel-info" ng-if="vm.cMail">
                <div class="email-from"><span>From: </span> {{vm.cMail.from}}</div>
                <div class="email-date"><span>Sent: </span>{{vm.cMail.date|date:'medium'}}</div>
                <div class="email-to"><span>To: </span>{{vm.cMail.to.join(', ')}}</div>
                <div class="email-cc" ng-show="vm.cMail.cc.length"><span>cc: </span>{{vm.cMail.cc.join(', ')}}</div>
                <div class="email-bcc" ng-show="vm.cMail.bcc.length"><span>bcc: </span>{{vm.cMail.bcc.join(', ')}}</div>
                <div class="email-subject search-text" id="email-subject"><span>Subject: </span>{{vm.cMail.subject}}</div>
            </div>
            <div class="right-panel-body search-text" id="right-panel-body" compile="vm.cMail.body | originalMessage | sanitize">
        </div>
        </div>
    </div>
</div>
</body>
</html>