$root-font-size: 16px;
$border-gray: 1px solid #ccc;
$padding-small: .5rem;
$hover-color: #eeeeee;
$light-border: #eeeeee;
$semi-grey: #444444;
$ccc: #cccccc;
$aaa: #aaaaaa;
$ddd: #dddddd;
$highlight: #ffff99;
$input-border: 1px solid #28a0d2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin justify-content($pos) {
  -webkit-justify-content: $pos;
  justify-content: $pos
}

* {
  @include border-box();
  margin: 0;
  padding: 0;
  font-weight: 300;
  outline: none;
}

html{
  font-size: $root-font-size;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body{
  min-height: 100%;
  height: 100%;
}

.container{
  @include flex();
  position: absolute;
  width: 100%;
  min-width: 900px;
  min-height: 420px;
  top: 0;
  bottom: 0;
}

.left-panel{
  position: relative;
  width: 40%;
}

.left-panel-header{
  height: 8rem;
  padding-top: $padding-small;
}

.left-panel-body{
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  top: 8rem;
  width: 100%;
}

.email-item{
  padding: $padding-small;
  border-bottom: $border-gray;

  &:hover{
    cursor: pointer;
    background-color: $hover-color;
  }
}

.email-item-info{
  @include flex();
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  align-items: center;
  margin-bottom: .25rem;
}

.email-item-from{
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-item-date{
  font-size: .9rem;
  color: $semi-grey;
  overflow: hidden;
  min-width: 3.5rem;
  text-align: right;
}
.email-item-subject{
  font-weight: 400;
  font-size: .9rem;
  margin-bottom: .25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-item-message{
  line-height: .9rem;
  font-size: .8rem;
  height: 1.8rem;
  overflow: hidden;
  color: $semi-grey;
}

/*Pagination*/

.pagination-container{
  text-align: center;
}

.pagination-counter{
  display: inline-block;
  margin: 0 .5rem;
}

.pagination-counter span{
  font-weight: 600;
}

.sender-filter{
  margin: .3rem;
  text-align: center;
}

/*Right panel*/
.right-panel{
  width: 60%;
  position: relative;
}
.right-panel-header{
  padding: .5rem 0 0;
  input{
    width: 30%;
  }
}
.right-panel-scroll{
  position: absolute;
  width: 100%;
  overflow-y: auto;
  padding: .5rem 0 0 .5rem;
  top: 3rem;
  bottom: 0;
}
.right-panel-info{
  margin-bottom: 1rem;
  span{
    font-weight: 400;
  }
}

.selected-mail{
  background-color: $hover-color;
}

.highlight {
  background-color: $highlight;
}

pre{
  white-space: pre-wrap;
}

.date-filter{
  @include flex();
  margin: 0 .5rem;
  align-items: center;
}
.date-filter {
  text-align: center;
  margin-top: .5rem;
  pre{
    color: #28a0d2;
  }
  p{
    width: 6rem;
    font-size: .9rem;
    color: #666;
  }
}
.date-picker-input{
  width: 100%;
  border: $input-border;
  @include border-radius(3px);
  padding: .1rem .3rem;
}
.original-message{
  margin-left: 2rem;
  span{
    font-family: monospace;

    &:hover{
      cursor: pointer;
      color: blue;
    }
  }
  pre{
    display: none;
  }
}
select.custom {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 25px;
  padding-left: .5rem;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.custom::-ms-expand {
  display: none;
}